@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #C79745;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

button{
cursor: pointer;
}